@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="conteiner">
    <form class="left">
        <div>
            <h3 style="text-align: center;">Hotel search</h3>
            <div>
                <h5>Country</h5>
                <select name="country">
                    <option>
                        None
                    </option>
                    @{
                        foreach (var name in ViewBag.Country)
                        {
                            <option>
                                @name.country_name
                            </option>
                        }
                    }
                </select>
            </div>
            <div>
                <h5>City</h5>
                <select name="city">
                    <option>
                        <div style="text-align: center;">
                            None
                        </div>
                    </option>
                </select>
            </div>
            <div>
                <h5>Stars</h5>
                <select name="star">
                    <option>
                        None
                    </option>
                    @{
                        for (int j = 0; j < 6; j++)
                        {
                            <option>
                                @j
                            </option>
                        }
                    }
                </select>
            </div>
        </div>
        <button type="submit">Find</button>
    </form>
    <div class="right">
        <ul>
            @{
                int i = 0;
                foreach (var src in ViewBag.Hotels)
                {
                    i++;
                    if (i >= 5)
                    {
                        continue;
                    }
                    <li class="hotels">
                        <form>
                            <a href="/Home/About/@src.id">
                                <img src="~/Content/img/Hotels/@src.img_src" class="imghoteks" />
                            </a>
                            <div style=" width: 100%;">
                                @src.hotel_name
                            </div>
                            <hr />
                            <div style=" width: 100%;">
                                <div style="float: left;">
                                    @src.country_name, @src.cities_name
                                </div>
                                <img src="~/Content/img/countries/@src.cimg_src" style="height:24px; " />
                            </div>
                            <hr />
                            <div style="width: 100%;">
                                Stars: @src.rank
                            </div>
                            <input type="submit" name="order" value="Order" class="glavknop">
                        </form>
                    </li>
                }
            }
        </ul>
        <div style="text-align: center;">
            <ul style=" padding: 0;">
                @{
                    for (int k = 1; k <= Math.Ceiling((double)i / 4); k++)
                    {
                        <li class="pages"><a href="index.html">@k</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>