@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/ajax.js"></script>
}

<div class="conteiner">
    <form class="left">
        <div>
            <h3 style="text-align: center;">Hotel search</h3>

            <div>
                <h5>Country</h5>
                <select name="country" id="country">
                    @{
                        foreach (var name in ViewBag.Country)
                        {
                            <option value="@name.country_name">
                                @name.country_name
                            </option>
                        }
                    }
                </select>
            </div>
            <div>
                <h5>City</h5>
                <select name="city" id="city">
                   
                </select>
            </div>

            <div>
                <h5>Stars</h5>
                <select name="star">
                    @{
                        for (int j = 0; j < 6; j++)
                        {
                            <option>
                                @j
                            </option>
                        }
                    }
                </select>
            </div>
        </div>
        <input type="submit" name="Find" value="Find" class="glavknop">
    </form>
    <div class="right">
        <ul style="margin:0;">
            @{
                int i = 0;
                foreach (var src in ViewBag.Hotels)
                {
                    i++;
                    if (i > @ViewBag.count * 4 || i <= @ViewBag.count * 4 - 4)
                    {
                        continue;
                    }
                    <li class="hotels">
                        <form>
                            <a href="/Home/About/@src.id">
                                <img src="~/Content/img/Hotels/@src.img_src" class="imghoteks" />
                            </a>
                            <div class="infospis">
                                @src.hotel_name
                            </div>
                            <div class="infospis">
                                <div style="float: left; height:100%;">
                                    @src.country_name, @src.cities_name
                                </div>
                                <img src="~/Content/img/countries/@src.cimg_src" style="height:100%; " />
                            </div>
                            <div class="infospis">
                                Stars: @src.rank
                            </div>
                            <input type="submit" name="order" value="Order" class="glavknop">
                        </form>
                    </li>
                }
            }
        </ul>
        <div style="text-align: center;">
            <ul style=" padding: 0;">
                @{
                    for (int k = 1; k <= Math.Ceiling((double)i / 4); k++)
                    {
                        if (@ViewBag.count == k)
                        {
                            <li class="pages"><a href="/Home/Index/@k" style="color: red;" class="pagesli">@k</a></li>
                        }
                        else
                        {
                            <li class="pages"><a href="/Home/Index/@k" class="pagesli">@k</a></li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>