@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="conteiner">
    <form class="left">
        <div>
            <h3 style="text-align: center;">Поиск отеля</h3>
            <div>
                <h5>Страна</h5>
                <select name="country">
                    <option>
                        None
                    </option>
                    @{
                        foreach (var name in ViewBag.Country)
                        {
                            <option>
                                @name.country_name
                            </option>
                        }
                    }
                </select>
            </div>
            <div>
                <h5>Город</h5>
                <select name="city">
                    <option>
                        <div style="text-align: center;">
                            None
                        </div>
                    </option>
                </select>
            </div>
            <div>
                <h5>Звезды</h5>
                <select name="star">
                    <option>
                        None
                    </option>
                    @{
                        for (int j = 0; j < 6; j++)
                        {
                            <option>
                                @j
                            </option>
                        }
                    }
                </select>
            </div>
        </div>
        <button type="submit">Найти</button>
    </form>
    <div class="right">
        <ul>
            @{
                int i = 0;
                foreach (var src in ViewBag.Hotels)
                {
                    <li class="hotels">
                        <form>
                            <a href="/Home/About/@src.id">
                                <img src="~/Content/img/Hotels/@src.img_src" class="imghoteks" />
                            </a>
                            <div style="background-color:  red; width: 100%;">
                                @src.hotel_name
                            </div>
                            <div style="background-color:  green; width: 100%;">
                                @src.id_cities
                            </div>
                            <div style="background-color:  blue; width: 100%;">
                                @src.rank
                            </div>
                            <input type="submit" name="order" value="Order" class="glavknop">
                        </form>
                    </li>
                    i++;
                    if (i == 4)
                    {
                        break;
                    }
                }
            }
        </ul>
        <div style="text-align: center;">
            <ul style=" padding: 0;">
                @{
                    for (int k = 1; k < 4; k++)
                    {
                        <li class="pages"><a href="index.html">@k</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>